
html{
 font-size: 62.5%;
}

* {
 margin-left: 0rem;
 padding: 0;
 box-sizing: border-box;
 vertical-align: top;
}
* ul{
  list-style-type: none;
}
#HeaderId li{
 font-size: 1rem;
 display: inline;
 text-decoration: none;
 margin: 0rem;
 text-align: center;
 color: black;
 border: border-box;
 padding: 0.5rem;
}


#HeaderOne{
 text-align: center;
 font-size: 6rem;
 margin-top: 0;
}
#HomeImage{
 width: 60%;
 height: 40%;
 margin: auto;
}
.HomeContent{
 font-size: 3.5rem;
 text-align: center;
}

#HomePage{
 background-color: lightgreen;
 text-align: center;
 font-family: 'Montserrat', sans-serif;
 font-size: 2rem;
}

#HomeMainCont{
 background-color: lightgray;
}
.HomeText{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: lighter;
}

#MisVis{
 background-color: lightgray;
 text-align: center;
}
#AboutPage{
 background-color: lightgreen;
 text-align: center;
 font-family: 'Montserrat', sans-serif;
 font-size: 2rem;
}

#HeaderAbout{
 text-align: center;
 font-size: 5rem;
}
.AboutMembers{
 font-size: 3rem;
 text-align: center;
}
.Photos{
 width: 20%;
 height: 20%;
}

#market-div {
  background-color: lightgreen;
}
#Markets {
  border: solid 1px black;
  display:flex;
  margin-left: 20%;
  margin-right: 20%;
  list-style-type: none;
  font-family: 'Slabo 27px';
  font-size: 2rem;
  background-color: lightgray;
}


#area-header {
  font-family: 'Slabo 27px', serif;
  font-size: 6rem;
  text-align: center;
  background-color: lightgreen;
  margin-top: 0;
  margin-bottom: 0;
}

.please-search {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}
