
html{
 font-size: 62.5%;
}

* {
 margin-left: 0rem;
 padding: 0;
 box-sizing: border-box;
 vertical-align: top;
}
#HeaderId li{
 font-size: 1rem;
 display: inline;
 text-decoration: none;
 margin: 0rem;
 text-align: center;
 color: black;
 border: border-box;
 padding: 0.5rem;
}


#HeaderOne{
 text-align: center;
 font-size: 5rem;
}
#HomeImage{
 width: 60%;
 height: 40%;
 margin-left: 20%;
}
.HomeContent{
 font-size: 3.5rem;
 text-align: center;
}
#HomeMainCont{
 background-color: lightgray;
}
#HomePage{
 background-color: lightgreen;
}
#MisVis{
 background-color: lightgray;
 text-align: center;
}
#AboutPage{
 background-color: lightgreen;
 text-align: center;
 font-family: 'Montserrat', sans-serif;
 font-size: 2rem;
}

#HeaderAbout{
 text-align: center;
 font-size: 5rem;
}
.AboutMembers{
 font-size: 3rem;
 text-align: center;
}
.Photos{
 width: 20%;
 height: 20%;

}
#Markets {
  border: solid;
  margin-left: auto;
  margin-right: auto;
  background-color: lightgray;
}
#Bar{
  margin-left: 80%;
}
